// main: ..\style.scss

/* Define Colour Variables */
$black: #2D2D2D;
$white: #FFFFFF;
$blue: #2C2382;
$lightblue: #B5DEE3;
$brightred: #F7452D;
$pink: #F28FE4;
$neonyellow: #F6FB30;

/* Fonts */

@font-face {
  font-family: 'Archivo Expanded';
  src: url('fonts/Archivo-Expanded-Regular.woff2') format('woff2'),
  url('fonts/Archivo-Expanded-Regular.woff') format('woff'),
  url('fonts/Archivo-Expanded-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('fonts/Archivo-Expanded-Medium.woff2') format('woff2'),
  url('fonts/Archivo-Expanded-Medium.woff') format('woff'),
  url('fonts/Archivo-Expanded-Medium.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Cygnito Mono';
  src: url('fonts/Cygnito-Mono.woff2') format('woff2'),
  url('fonts/Cygnito-Mono.woff') format('woff'),
  url('fonts/Cygnito-Mono.ttf') format('truetype');
  font-display: swap;
}

html {
  font-size: 16px;
}

#page {
  * {
    font-family: 'Archivo Expanded',Helvetica,Arial,sans-serif;
  }

  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h1, h2 {
    font-weight: 400;
    font-family: 'Cygnito Mono',monospace;
    text-transform: uppercase;
    line-height: 1.1;

    span {
      font-weight: 400;
      font-family: 'Cygnito Mono',monospace;
      text-transform: uppercase;
      line-height: 1.1;
    }
  }

  h3 {
    font-weight: 400;
    font-family: 'Cygnito Mono',monospace;
    text-transform: uppercase;
    line-height: 1.3;

    span {
      font-weight: 400;
      font-family: 'Cygnito Mono',monospace;
      text-transform: uppercase;
      line-height: 1.3;
    }
  }
}

.post, .page {
  margin: 0;
}

/* Header */

body.logged-in {
  header {
    margin-top: 32px;
  }
  #primary .hero {
    height: calc(100vh - 8rem - 32px);
  }
}

body.scrolled {
  #masthead {
    padding: 1.5rem;

    .site-branding img {
      height: 2.5rem;
    }
  }

  #primary {
    margin-top: 5.5rem;
  }
}

#masthead {
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-out;

  .site-branding {
    font-size: 0;

    img {
      transition: all 0.3s ease-out;
      height: 4rem;
      width: auto;
    }

    a {
      font-size: 0;
    }
  }

  #site-navigation {
    flex: 1;

    ul {
      gap: 2rem;
      justify-content: flex-end;
    }

    a {
      font-family: 'Cygnito Mono',monospace;
      font-size: 1.4rem;
      color: $blue;
      text-transform: uppercase;
      transition: all 0.2s ease;

      &:hover {
        color: $pink;
      }
    }
  }
}

#primary {
  margin-top: 8rem;
  overflow-x: hidden;

  .entry-content {
    margin: 0;
  }

  .hero {
    height: calc(100vh - 8rem);
    position: relative;

    & > .wpb_column {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      & > .vc_column-inner {
        padding: 3rem;

        h2 {
          font-size: 5rem;
          color: $neonyellow;
          text-align: center;
          max-width: 20ch;
          margin: auto;
        }
      }
    }
  }

  .wpb_text_column {
    p, h3 {
      max-width: 70ch;
      margin: 0 auto 1.5rem;
    }
  }

  .vc_btn3 {
    font-family: 'Cygnito Mono',monospace;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
    background: transparent;
    line-height: 1;
    padding: 1rem 2.5rem;
    border-radius: calc(2rem + 6px);
  }

  .blue .vc_btn3 {
    color: $blue;
    border: 3px solid $blue;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

#colophon {
  background: $blue;
  font-size: 0;

  #footer-inner {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: url('/wp-content/uploads/2022/10/footer-stars.svg');
    background-position: bottom 4rem right 4rem;
    background-size: 5rem auto;
    background-repeat: no-repeat;

    .site-info {
      font-size: 0;
      padding: 0 5rem 0 0;

      #footer-logo {
        width: 6rem;
        height: auto;
      }
    }

    .menu {
      padding: 0 5rem 0 0;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      a {
        font-family: 'Cygnito Mono',monospace;
        font-size: 1.4rem;
        color: $white;
        text-transform: uppercase;
        transition: all 0.2s ease;
        text-decoration: none;

        &:hover {
          color: $pink;
        }
      }
    }

    #copyright {
      margin-left: auto;
      max-width: 28ch;
      font-size: 1rem;

      p {
        font-family: 'Cygnito Mono',monospace;
        color: $white;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0 0 0.5rem;
      }
    }
  }
}
